html {
    overflow-x: hidden;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 205px;
    height: 100%;
    background: var(--dark-blue);
    z-index: 2000;
    font-family: var(--font-title);
    font-weight: 500;
    transition: 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
    display: none;
}

#sidebar.hide {
    width: 60px;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 200px;
}

#sidebar .side-menu li {
    height: 48px;
    background: transparent;
}

#sidebar .side-menu li.active {
    position: relative;
    border-left: 3px solid var(--lighter-blue);
    transition: 0.3s ease;
}

#sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark-grey);
    white-space: nowrap;
    overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
    color: var(--light);
}

#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width 0.3s ease;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#sidebar .side-menu.top li a:hover {
    color: var(--light);
}

#sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}
/* SIDEBAR */

/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 205px);
    left: 205px;
    transition: 0.3s ease;
}

#sidebar.hide ~ #content {
    width: calc(100% - 60px);
    left: 60px;
}

/* NAVBAR */
#content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 24px;
    font-family: var(--font-text);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#content nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
    color: var(--dark);
}

#content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}

#content nav .left {
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

#content nav .right {
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

#content nav .right .notification {
    font-size: 20px;
    position: relative;
}
#content nav .right .notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    color: var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content nav .right .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

/* NAVBAR */

/* MAIN */
#content main {
    width: 100%;
    padding: 18px 24px;
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

#content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
    max-width: 70%;
}

#content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: var(--font-title);
    color: var(--dark);
}

.conteudo_materia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content2 {
    margin-top: 3%;
    width: 60%;
    font-size: 22px;
}

.update-delete {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

.update i {
    color: var(--dark-blue);
}

.delete i {
    color: var(--red);
}

@keyframes flash {
    0% {
        color: #ca2f28;
    }
    50% {
        color: #cf433d;
    }
    100% {
        color: #d45852;
    }
}

.delete i:hover {
    animation-name: flash;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
