* {
    font-family: var(--font-title);
}

/* Header do login */

.header {
    position: absolute;
    width: 100%;
    margin: 1em 0;
    font-weight: 500;
    align-items: center;
}

.menu {
    margin: 5px 4%;
    display: flex;
    justify-content: flex-end;
}

.menu ul li {
    display: inline;
    margin: 0 10px;
}

.home-sobre {
    margin: 0 30px;
    position: relative;
    color: #000;
}

.home-sobre:after {
    content: "";
    position: absolute;
    background-color: #007090;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.home-sobre:hover:after {
    width: 100%;
}
/* Fim da header do login */

/* Section da esquerda da tela de login */
.container-login {
    height: 100vh;
    display: flex;
}

.img-box {
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #006989;
    background: radial-gradient(50% 50% at 50% 50%, #01a7c2 0%, #006989 100%);
    border-radius: 0px 20px 20px 0px;
}

.img-box img {
    width: 80%;
    align-self: end;
}
/* Fim da parte esquerda da tela de login */

/* Seção da direita da página de login */

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.form-box {
    width: 50%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.form-box h2 {
    font-weight: 500;
}

.input-box {
    margin-top: 3%;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.other-login {
    width: 50%;
    margin-top: 3%;
}

.input-box input {
    width: 90%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    color: #000; /*alterar cor*/
    border: 1px solid #aeaeae;
    margin: 1%;
}

.input-box::placeholder {
    color: #aeaeae;
}

.input-box input[type="submit"] {
    background: #006989;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
}

.content-box .form-box .input-box input[type="submit"]:hover {
    background: #01a7c2;
}

.content-box .form-box .remember {
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.content-box .form-box .remember a {
    color: #9a9797;
}

.input-box p a {
    color: #006989;
}

.input-box p a :hover {
    color: #3286ca;
}

@media (max-widht: 868px) {
    .container-login .img-box {
        display: none;
    }

    .container-login .content-box .form-box {
        width: 65%;
        padding: 40px;
        background: white;
        margin: 20px;
    }

    .container-login .content-box .form-box h3 {
        margin: 30px 0 10;
    }
}
@media (max-widht: 450px) {
    .container-box .container-box .form-box .remember {
        flex-wrap: wrap;
    }
    .container-box .container-box .form-box .remember a {
        margin-top: 20px;
    }
}
