* {
	margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
	
}


.side-menu {
    position: absolute;
    background: #006989;
    width: 16vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 30px; 
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
.side-menu:hover{
    width: 280px;
    transition: all 0.3s ease;
}
.side-menu .brand-name{
    height: 20vh ;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

ul{
    list-style: none ;
  
}
.side-menu li{
    font-size: 17px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}

.side-menu li:hover{
    background: white;
    color: #006989;
}

 .content{
    position: absolute;
    margin-top: 10vh;
    min-height: 90vh; 
}
img{
    
    padding: 10px 0;
}

h1{
    position: absolute;
    width: 85px;
    height: 28px;
    left: 0px;
    top: 0px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
}

.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh; 
    padding: 25px; 
}

.container .content .cards{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card{
    width: 250px;
    height: 160px;
    background: white;
    margin: 20px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.logout{
    position: absolute;
    bottom: 0;
}










