/* Estilo da Header e da Nav */

.header {
    margin: 5px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    display: inline;
    margin: 0 10px;
}

.home-sobre {
    text-decoration: none;
    margin: 0 40px;
    position: relative;
    color: #000;
}

.entrar-cadastrar {
    text-decoration: none;
    color: #fff;
    background-color: #007090;
    margin: 0 10px;
    padding: 10px 20px;
    position: relative;
    border: none;
    border-radius: 10px;
}

.home-sobre:after {
    content: "";
    position: absolute;
    background-color: #007090;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.home-sobre:hover:after {
    width: 100%;
}

/* Estilo da Header e da Nav

.header {
    margin: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline;
}

.home-sobre {
    text-decoration: none;
    margin: 0 40px;
    position: relative;
    color: #000;
}

.entrar-cadastrar {
    text-decoration: none;
    color: #fff;
    background-color: #007090;
    margin: 0 10px;
    padding: 10px 20px;
    position: relative;
    border: none;
    border-radius: 10px;
}

.home-sobre:after {
    content: "";
    position: absolute;
    background-color: #007090;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.home-sobre:hover:after {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .header {
        flex-wrap: wrap;
    }

    .menu {
        flex-direction: column;
        align-items: flex-end;
    }

    .menu li {
        margin: 10px 0;
    }

    .home-sobre,
    .entrar-cadastrar {
        margin: 10px 0;
    }
} */
