@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"); /* Raleway - Fonte para títulos */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"); /* Montserrat - Fonte para textos*/

/* Estilo principal */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
}

/* Estilo da Header e da Nav */

.header {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline;
}

.sobre-home {
    text-decoration: none;
    margin: 0 40px;
    position: relative;
    color: #000;
}

.entrar-cadastrar {
    text-decoration: none;
    color: #fff;
    background-color: #007090;
    margin: 0 10px;
    padding: 10px 20px;
    position: relative;
    border: none;
    border-radius: 10px;
}

.sobre-home:after {
    content: "";
    position: absolute;
    background-color: #007090;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.sobre-home:hover:after {
    width: 100%;
}

/* Estilo da primeira seção - Sobre */

.main {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center; */
    background-color: #006989;
}

.main-presentation {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 175px 0;
}

.main-svg {
    display: flex;
    justify-content: center;
}

.main-text {
    position: absolute;
    width: 450px;
    height: 120px;
    left: 84px;
    top: 224px;
}

.main-text p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 45px;
    text-align: justify;
    color: #fff;
    text-shadow: 0px 4px 4px #000;
}

/* Estilização da segunda seção - Matérias */

.subjects-title {
    display: flex;
    justify-content: center;
}

.subjects-title h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 48px;
}

/* .image-subjects {
    display: flex;
    justify-content: space-between;
    padding: 140px;
}

.text-subjects {
    font-family: Raleway;
    font-style: Regular;
    font-size: 24px;
    line-height: 28px;
    line-height: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: Top;
} */
 
.subjects-container {
    display: flex;
    justify-content: space-between;
    padding: 140px;
}

.subject-test {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
